@page
@model Ristysoft.CashFlow.Pages.Revenues.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Revenue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Revenue.RevenueTypeId" class="control-label"></label>
                <select asp-for="Revenue.RevenueTypeId" class="form-control" asp-items="SelectLists.RevenueTypeList().Nullable()"></select>
                <span asp-validation-for="Revenue.RevenueTypeId" class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="Revenue.Date" class="control-label"></label>
				<input asp-for="Revenue.Date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
				<span asp-validation-for="Revenue.Date" class="text-danger"></span>
			</div>
            <div class="form-group">
                <label asp-for="Revenue.ReceivedByFundId" class="control-label"></label>
                <select asp-for="Revenue.ReceivedByFundId" class="form-control" asp-items="SelectLists.FundList().Nullable()"></select>
                <span asp-validation-for="Revenue.ReceivedByFundId" class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="Revenue.Amount" class="control-label"></label>
				<input inputmode="decimal" asp-for="Revenue.Amount" class="form-control" />
				<span asp-validation-for="Revenue.Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Revenue.Remark" class="control-label"></label>
				<input asp-for="Revenue.Remark" class="form-control" />
				<span asp-validation-for="Revenue.Remark" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
